/*-------------------- CSS Variable --------------------*/
:root {
  /*---------- Color System ----------*/
   
  /* Primary */
  --clr-bg-body: hsl(233, 47%, 7%);
  --clr-bg-card: hsl(244, 38%, 16%);
  --clr-accent:  hsl(277, 64%, 61%);

  /* Neutral */
  --clr-card-heading: hsl(0, 0%, 100%);
  --clr-card-text: hsla(0, 0%, 100%, 0.75);
  --clr-stats-title: hsla(0, 0%, 100%, 0.6);

  /*---------- Typography ----------*/

  /* Fonts Families */
  --ff-inter:  'Inter', sans-serif;
  --ff-lexend: 'Lexend Deca', sans-serif;
  
  /* Font Weights */
  --fw-400: 400;
  --fw-700: 700;
}


/*-------------------- CSS Reset --------------------*/
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img, picture {
  width: 100%;
  display: block;
}

body {
  font-family: var(--ff-inter); 
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.7; 
  background: var(--clr-bg-body);  
  color: var(--clr-stats-title);
  
  /* Center challenge content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/*-------------------- Challenge Styling --------------------*/

/* Grid Card Wrapper */
.card-wrapper {
  width: 90%;
  max-width: 21rem;
  margin: 0 auto;
  background: var(--clr-bg-card);
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}

/* Image */
.card__image {
  position: relative;
}

.card__image::after,
.card__image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: violet;
  mix-blend-mode: multiply;
  opacity: .75;
}

/* Typography Heading & Paragraph*/
.card__heading {
  font-size: 1.625rem;
  line-height: 1.2;
  color: var(--clr-card-heading);
  margin-bottom: 1rem;
}

.card__stats-value {
  color: var(--clr-card-heading);
  font-size: 1.4rem;
  font-weight: var(--fw-700);
  line-height: 1.2;
  margin-top: 1.5rem;
}

.card__stats-title {
  font-family: var(--ff-lexend);
  font-size: 0.75rem;
  font-weight: var(--fw-400);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--clr-stats-title);
}

/* Content */

.card__content, .card__stats {
  padding: 1rem;
}

/*-------------------- Utility Class --------------------*/
.text-accent {
  color: var(--clr-accent);
}

.uppercase {
  text-transform: uppercase;
}

/* Media Queries > 56.25em (900px) */

@media (min-width: 56.26em) {
  
  .card-wrapper {
   max-width: 56rem;
   display: grid;
   grid-template-columns: 1fr 1fr; 
   text-align: left;
  }

  .card__image {
    grid-column: 2;
    
  }

  .card__content {
    grid-row: 1;
    padding: 2em 3em;
  }

  .card__stats {
    margin-top: 1.5rem;
    padding: 0;
  }

  .card__stats > ul {
    display: flex;
    gap: 2.5rem;
  }
}